.feature{
    margin-bottom: 310px;
    position: relative;
}

.feature-image {
    position: absolute;
    left: 46%;
    top: 25%;
}

.feature-list{
    display: flex;
    flex-wrap: wrap;
    font-family:'Adamina';
    font-style: normal;
    font-weight: 400;
     font-size: 20px;
    line-height: 1;
    margin-left: 300px;
    gap: 140px;
    
}


.feature-list .feature-item{
    list-style: url(../images/feature-eclipse.jpg);
    width: 40%; 
}

.feature-text{
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    position: absolute;
    z-index: 4;
    transform: translateX(-50%);
        left: 50%;
}

.ellipse-big{
    position: absolute;
    width: 1340px;
    height: 163.18px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 3;
    margin-top: 90px;
}

.ellipse-little{
position: absolute;
    width: 886px;
    height: 120.61px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 3;
    margin-top: 110px;
}