.reviews{
    margin-bottom: 80px;
}

.reviews-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-list__item{
    position: relative;
    width: calc(30% - 10px);
    background: rgba(226, 225, 204, 0.6);
    border-radius: 50px; 
}

.reviews-list__text{
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    width: 80%;
}

.reviews-image{
    position: absolute;
    top: 10px;
    left: 10px;
}